<div class="container mt-3">
    <div class="col-lg-12">
        <div class="mb-3">
            <label for="cantidad" class="form-label">INGRESE LA CANTIDAD A CONVERTIR</label>
            <input type="number" class="form-control form-control-lg" id="cantidad" placeholder="Ingrese cantidad..">
          </div>
          
</div>
<div class="row">
    <div class="col-lg-6">
        <label for="quiero">TENGO</label>
        <select class="form-select form-control-lg" aria-label="Default select example" id="tengo">
            <option value="1">USD</option>
            <option value="2">EURO</option>
            <option value="3">LIBRA</option>
          </select>
    </div>
    <div class="col-lg-6">
        <label for="quiero">QUIERO</label>
        <select class="form-select form-control-lg" aria-label="Default select example" id="quiero">
             <option value="1">USD</option>
            <option value="2">EURO</option>
            <option value="3">LIBRA</option>
          </select>
    </div>
    <h5 class="text-center mt-3">
        <span class="badge bg-success">1000 USD</span>
        <span class="badge bg-secondary">SON</span>
        <span class="badge bg-success">800 EUR</span>
    </h5>
</div>